<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>
        RecipeMe Page
    </title>
    <!-- Needed Tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma StyleSheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>

    <!-- Stylesheet tags -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {{> navbar/navpart}}
    </div>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-8">
                    <article class="tile is-child notification is-danger">
                        <div class="content" method="GET" action="/database/">
                            <div id="search">
                                <p class="title has-text-centered">
                                    Recipe Database
                                </p>
                                <h1 class="content has-text-centered">
                                    Top Recipes
                                </h1>
                                <h2>
                                    {{#each recipes}}
                                </h2>
                                <div class="content has-text-centered">
                                    <h1>
                                        {{this.title}}
                                    </h1>
                                </div>
                                <div>
                                    <img class="someClass" src="{{this.image}}" />
                                </div>
                                <div class="content has-text-centered">
                                    <p>
                                        Score: {{this.score}}
                                    </p>
                                    <form data-id="{{this.title}}">
                                        <button class="button is-primary" id="upVote" type="submit">
                                            up
                                        </button>
                                    </form>

                                    </form>
                                    <button class="button is-primary downVote" type="submit">
                                        down
                                    </button>
                                </div>
                                <div class="content has-text-centered">

                                    <h1> 
                                        Ingredients:
                                        </h1>
                                            <h2>
                                                {{this.ing1}}
                                                <br> {{this.ing2}}
                                                <br> {{this.ing3}}
                                                <br> {{this.ing4}}
                                                <br> {{this.ing5}}
                                            </h2>
                                </div>
                                <div class="content has-text-centered">
                                    <h1>
                                        <h1>Steps: </h1>
                                        <h2>
                                            {{this.step1}}
                                            <br> {{this.step2}}
                                            <br> {{this.step3}}
                                            <br> {{this.step4}}
                                            <br> {{this.step5}}

                                        </h2>
                                </div>
                                {{/each}}


                                <div class="content ">

                                    <p class="subtitle has-text-centered">
                                        Top Recipes {{#each recipes}}
                                        <div>
                                            Recipe Name: {{this.title}}
                                        </div>
                                        <div>
                                            Image
                                            <img class="someClass" src="{{this.image}}" />
                                        </div>

                                        <div>
                                            Score: {{this.score}}


                                            <form data-id="{{this.title}}">
                                                <button class="button is-primary" id="upVote" type="submit">
                                                    up
                                                </button>
                                            </form>

                                            </form>
                                            <button class="button is-primary downVote" type="submit">
                                                down
                                            </button>

                                        </div>
                                        <div>
                                            Ingredients: {{this.ing1}} {{this.ing2}} {{this.ing3}} {{this.ing4}} {{this.ing5}}
                                        </div>
                                        <div>
                                            Score: {{this.step1}} {{this.step2}} {{this.step3}} {{this.step4}} {{this.step5}} {{/each}}
                                            <div>
                                                Ingredients:

                                            </div>
                                            <div>

                                    </p>


                                    </div>
                                    <!--end content-->
                                    </div>

                                </div>
                                <!-- end search id-->
                    </article>
                    <!-- end red tile-->
                    </div>
                    <div class="tile is-parent is-vertical">


                        <article class="tile is-child notification is-warning">
                            <p class="title has-text-centered">
                                Top Recipe
                            </p>
                            <p class="subtitle has-text-centered">
                                Date
                            </p>
                            <div class="content box">

                            </div>
                        </article>
                        <article class="tile is-child notification is-primary">
                            <p class="title has-text-centered">
                                Top Chef
                            </p>
                            <p class="subtitle has-text-centered">
                                This Week:
                            </p>
                            <div class="content box">

                            </div>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">
                                ...tiles
                            </p>
                            <p class="subtitle">
                                Bottom tile
                            </p>
                        </article>
                    </div>
                    <!-- end vert 2 tile div-->
                    </div>
                    <!--end is-8 vertical -->
                </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    blah blah blah (for now)
                </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript">


        $(document).on('click', '#upVote', function () {

            var thisid = $(this).data('title');
            console.log('/////////////////////////////////////////////////////////////////////////////////////');
            console.log(thisid);
            console.log('hti hit hit');


        });


    </script>


</body>

</html>