<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>
        RecipeMe Page
    </title>
    <!-- Needed Tags-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma StyleSheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>

    <!-- Stylesheet tags -->
</head>

<body>
    <div class="container">
        {{> navbar/navpart}}
    </div>
    <section class="section">
        <div class="container">
                <div class="tile is-vertical">
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-danger">
                                <div class = "content">
                                    <h1>{{recipe.title}}</h1>

                                    <img class="someClass" src="{{recipe.image}}" />
        
                                    <h2>Ingredients: {{recipe.ing1}} {{recipe.ing2}} {{recipe.ing3}} {{recipe.ing4}} {{recipe.ing5}}
                                        {{recipe.ing6}} {{recipe.ing7}} {{recipe.ing8}} {{recipe.ing9}} {{recipe.ing10}}
        
                                    </h2>
                                    <h2>Steps: {{recipe.step1}} {{recipe.step2}} {{recipe.step3}} {{recipe.step4}} {{recipe.step5}}
        
        
                                    </h2>
                                    <h2>Score: {{recipe.score}}</h2>  
                                </div>
                            </article> <!-- end red tile-->
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-primary">
                                    <h1 class="title has-text-centered">
                                        Submitted Recipes
                                    </h1>
                                </article>
                                <article class="tile is-child notification is-warning">
                                    <p class="title has-text-centered">
                                        Top Recipe
                                    </p>
                                    <p class="subtitle">
                                    </p>
                                </article>
                                <!-- <article class="tile is-child notification is-primary">
                                    <p class="title">
                                        How many tiles for whatever purpose
                                    </p>
                                    <p class="subtitle">
                                        Maybe just top recipes or idk ???
                                    </p>
                                </article>
                                <article class="tile is-child notification is-warning">
                                    <p class="title">
                                        ...tiles
                                    </p>
                                    <p class="subtitle">
                                        Bottom tile
                                    </p>
                                </article> -->
                            </div> <!-- end vert 2 tile div-->
                        </div>
                    </div> <!--end is-8 vertical -->
            </div>
            </section>

    <!-- <section class="section">
        <div class="container">
            <div class="tile is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <div class="content"> -->
                            <!-- <h1>{{recipe.title}}</h1>

                            <img class="someClass" src="{{recipe.image}}" />

                            <h2>Ingredients: {{recipe.ing1}} {{recipe.ing2}} {{recipe.ing3}} {{recipe.ing4}} {{recipe.ing5}}
                                {{recipe.ing6}} {{recipe.ing7}} {{recipe.ing8}} {{recipe.ing9}} {{recipe.ing10}}

                            </h2>
                            <h2>Steps: {{recipe.step1}} {{recipe.step2}} {{recipe.step3}} {{recipe.step4}} {{recipe.step5}}


                            </h2>
                            <h2>Score: {{recipe.score}}</h2>
                        </div>
                    </article>
                    <!-- end red tile-->
                    <!-- <div class="tile is-parent is-vertical"> -->
                        <!-- <article class="tile is-child notification is-primary">
                                <p class="title has-text-centered">
                                    Recipe Search Results
                                </p>
                                <p class="subtitle has-text-centered">
                                    Results will display below
                                </p>
                                <div id="recipeResult">
                                    <h1 id="recipeTitle"></h1>
                                    <div id='recipeImg'></div>
                                    <div id='recipeIngredients'></div>
                                    <div id='recipeSteps'></div>
                                </div>
                            </article> -->
                        <!-- <article class="tile is-child notification is-warning">
                                <p class="title">
                                    Reviews could go here ? 
                                </p>
                                <p class="subtitle">
                                    Whatever you want
                                </p>
                            </article>
                            <article class="tile is-child notification is-primary">
                                <p class="title">
                                    How many tiles for whatever purpose
                                </p>
                                <p class="subtitle">
                                    Maybe just top recipes or idk ???
                                </p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">
                                    ...tiles
                                </p>
                                <p class="subtitle">
                                    Bottom tile
                                </p>
                            </article> -->
                    <!-- </div>
                      -->

                </div>
            </div>
            <!--end is-8 vertical -->
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    blah blah blah (for now)
                </p>
            </div>
        </div>
    </footer>
</body>

</html>